<!-- <div id="carouselExampleControls"  #multipleCardCarousel class="carousel slide" data-bs-ride="carousel">
    <div #carouselInner class="carousel-inner">
      <div class="carousel-item active">
        <div class="card">
            <img src="..." class="d-block w-100" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title 2</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="card">
            <img src="..." class="d-block w-100" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title 2</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="card">
            <img src="..." class="d-block w-100" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title 2</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="card">
            <img src="..." class="d-block w-100" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title 2</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="card">
            <img src="..." class="d-block w-100" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title 2</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" (click)="onPrevClick()" type="button" data-bs-target="#multipleCardCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" (click)="onNextClick()" type="button" data-bs-target="#multipleCardCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div> -->