<div class="container mt-5">
  <div *ngIf="messageService.getErrorMessage()" class="alert alert-danger">
    {{ messageService.getErrorMessage() }}
  </div>

  <div *ngIf="messageService.getSuccessMessage()" class="alert alert-success">
    {{ messageService.getSuccessMessage() }}
  </div>
  
    <div class="row justify-content-center">
      <div class="col-md-9" [@fieldsetAnimation]="currentStep">
        <form [formGroup]="msform" id="msform" >
          <ul id="progressbar" class="nav nav-pills">
            <li class="nav-item" *ngFor="let fieldset of fieldsets; let i = index">
              <span class="nav-link" [ngClass]="{'active': i === currentStep}">{{ fieldset.title }}</span>
        
            </li>
          </ul>
          <fieldset *ngFor="let fieldset of fieldsets; let i = index">
            <h1 class="fs-title">{{fieldsets[currentStep].title}}</h1>
            <h3 class="fs-subtitle">{{ fieldsets[currentStep].subtitle }}</h3>
            <div class="row" *ngIf="currentStep === 4">
              <div class="col-4">
                <div class="profile-picture">
                  <div class="default-profile-picture" *ngIf="!selectedImage">
                    <img src="https://icon-library.com/images/default-profile-icon/default-profile-icon-24.jpg" alt="Default Profile Picture">
                  </div>
                  <img *ngIf="selectedImage" [src]="selectedImage" alt="Selected Profile Picture">
                </div>
                <div class="upload-button py-2">
                  <input type="file" (change)="onFileSelected($event)">
                </div>
              </div>
            
              <div class="col-8 p-2">
                <div *ngIf="msform.get('email')?.invalid && msform.get('email')?.touched" class="alert alert-danger">
                  <div>Email already exists</div>
                </div>
                <div *ngIf="msform.hasError('passwordsNotMatch') && msform.get('confirm_pass')?.touched" class="alert alert-danger">
                  Passwords do not match.
                </div>
                <input
                  *ngFor="let input of fieldsets[currentStep].inputs"
                  [type]="input.type === 'password' ? 'password' : (input.type === 'date' ? 'date' : 'text')"
                  formControlName="{{ input.name }}"
                  placeholder="{{ input.placeholder }}"
                  class="form-control"
                />
                <textarea
                  class="form-control"
                  formControlName="bio"
                  placeholder="Bio"
                  rows="3"></textarea>
              </div>
            </div>
            
            <div *ngIf="currentStep !== 4">
              <input
                *ngFor="let input of fieldsets[currentStep].inputs"
                [type]="input.type || 'text'"
                formControlName="{{ input.name }}"
                placeholder="{{ input.placeholder }}"
                class="form-control"
                [attr.type]="input.type === 'date' ? 'date' : 'text'"
              />
            </div>
            <div *ngIf="currentStep === 0" class="row mt-3">
              <app-country-city-selector
                [countries]="countries"
                [cities]="cities"
                [msform]="msform"
                (selectedCountryChange)="onSelectedCountryChange($event)"
                (selectedCityChange)="onSelectedCityChange($event)"

              ></app-country-city-selector>
            </div>

            <div *ngIf="currentStep === 1">
              <app-education
             
              (selectedEducationChange)="onSelectedEducationChange($event)"
              ></app-education>
            </div>

            <div *ngIf="currentStep === 2">
              <app-employment
              (selectedEmploymentChange)="onSelectedEmploymentChange($event)"
              ></app-employment>
            </div>

          <div *ngIf="currentStep === 3">
            <app-skill-interest-component
              [selectedSkills]="selectedSkills"  
              (selectedSkillsChange)="onSelectedSkillsChange($event)"
              [selectedInterests]="selectedInterests"  
              (selectedInterestsChange)="onSelectedInterestsChange($event)"
            ></app-skill-interest-component>
          </div>
          

   
      
            <div class="row mt-3">
                <div class="col-md-6 text-center">
                  <button
                    *ngIf="currentStep !== 0"
                    type="button"
                    (click)="previousStep()"
                    class="previous action-button-previous btn btn-secondary"
                    disabled=true
                  >
                    Previous
                  </button>
                </div>
                <div class="col-md-6 text-center">
                  <button
                    *ngIf="currentStep !== fieldsets.length - 1"
                    type="button"
                    (click)="nextStep()"
                    class="next action-button btn btn-primary"
                  >
                    Next
                  </button>
                  <button
                    *ngIf="currentStep === fieldsets.length - 1"
                    type="button"
                    (click)="submitForm()"
                    class="submit action-button btn btn-primary"
                    [disabled]="msform.get('email')?.invalid && msform.get('email')?.touched || msform.hasError('passwordsNotMatch')"
                  >
                    Create Account
                  </button>
                </div>
              </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
  