<div class="container mt-5">
  <div class="row">
    <div class="col">
      <p>Are you sure you want to delete:</p>
      <h2>{{ event.name | uppercase }}</h2>
      <div class="mt-3">
        <p><strong>Name:</strong> {{ event.name }}</p>
        <p><strong>Topic:</strong> {{ event.topic }}</p>
        <p><strong>Description:</strong> {{ event.description }}</p>
        <p><strong>Img url:</strong> {{ event.imgUrl }}</p>
        <p><strong>Members:</strong> {{ event.maxParticipants }}</p>
      </div>
      <h2>This list of event specifics will also be deleted!</h2>
      <div *ngFor="let es of alleventSpecifics">
        <p><span>{{ es.city?.name }} </span> <span>| {{es.date}}</span> </p>
      </div>
      <button type="button" class="btn btn-danger mt-3" (click)="delete(); redirect();">Delete</button>
    </div>
  </div>
</div>
