$primary-color: #c0caed
$secondary-color: #333
$animation-duration: 1s

@keyframes fadeIn
  from
    opacity: 0
  to
    opacity: 1

th
  background-color: $primary-color
  color: $secondary-color
  padding: 10px
  animation: fadeIn $animation-duration

.custom-modal-dialog
  max-width: 800px

.btn-lg 
  width: 70px
  height: 30px


