<div mat-dialog-content>
    <form #form="ngForm" (ngSubmit)="onFormSubmit(form)">
        <div class="field">
            <h1 class="title">Update Country</h1>
            <div class="input-container">
                <div class="control">
                    <input type="text" class="input" [(ngModel)]="updatedCountry.name" name="name" required maxlength="45" placeholder="Type country name here...">
                </div>
                <div class="control">
                    <input type="text" class="input" [(ngModel)]="updatedCountry.code" name="code" required maxlength="5" placeholder="Type country code here...">
                </div>
            </div>
            <div *ngIf="form.controls['name'].invalid">
                <p class="help is-danger" *ngIf="form.controls['name'].errors?.['required']">Please enter country name.
                </p>
                <p class="help is-danger" *ngIf="form.controls['name'].errors?.['maxlength']">Country name must not be
                    more than 45 characters long.</p>
            </div>
            <div *ngIf="form.controls['code'].invalid">
                <p class="help is-danger" *ngIf="form.controls['code'].errors?.['required']">Please enter country code.
                </p>
                <p class="help is-danger" *ngIf="form.controls['code'].errors?.['maxlength']">Country code must not be
                    more than 5 characters long.</p>
            </div>
        </div>
        <br>

        <div class="field is-grouped is-grouped-right">
            <div class="control">
                <button type="button" class="button is-light" (click)="close()">Cancel</button>
            </div>
            <div class="control">
                <button type="submit" class="button alt-gradient-button">
                    <i class="material-icons">save</i>
                    Save
                </button>
            </div>
        </div>
    </form>
</div>