<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header bg-primary text-white">
          <h5 class="card-title mb-0">Create a New Event</h5>
        </div>
        <div class="card-body">
          <form (ngSubmit)="onSubmit()" #eventForm="ngForm">
            <div class="mb-3">
              <label for="name" class="form-label">Event Name:</label>
              <input type="text" class="form-control" id="name" required [(ngModel)]="eventModel.name" name="name" #name="ngModel" placeholder="name"/>
              <div [hidden]="name.valid || name.pristine" class="alert alert-danger mt-2">
                Event Name is required
              </div>
            </div>
            <div class="mb-3">
              <label for="topic" class="form-label">Event Topic:</label>
              <input type="text" class="form-control" id="topic" required [(ngModel)]="eventModel.topic" name="topic" #topic="ngModel" placeholder="topic">
              <div [hidden]="topic.valid || topic.pristine" class="alert alert-danger mt-2">
                Event Topic is required
              </div>
            </div>
            <div class="mb-3">
              <label for="description" class="form-label">Event Description:</label>
              <textarea class="form-control" id="description" required [(ngModel)]="eventModel.description" name="description" placeholder="description" #description="ngModel"></textarea>
              <div [hidden]="description.valid || description.pristine" class="alert alert-danger mt-2">
                Event Description is required
              </div>
            </div>
            <div class="mb-3">
              <label for="imgUrl" class="form-label">Event Image URL:</label>
              <input type="file" class="form-control" id="imgUrl" required (change)="onSelectFile($event)"
              [(ngModel)]="eventModel.imgUrl" name="imgUrl" #imgUrl="ngModel">
              <img *ngIf="eventModel.imgUrl" [src]="fullUrl" class="mb-3"/>
              <div [hidden]="imgUrl.valid || imgUrl.pristine" class="alert alert-danger mt-2">
                Event Image URL is required
              </div>
            </div>
            <div class="mb-3">
              <label for="maxParticipants" class="form-label" placeholder="Number of participants">Max Participants:</label>
              <input type="number" class="form-control" id="maxParticipants" required
              [(ngModel)]="eventModel.maxParticipants" name="maxParticipants"
              #maxParticipants="ngModel" (input)="validateMaxParticipants()">
              <div [hidden]="maxParticipants.valid || maxParticipants.pristine" class="alert alert-danger mt-2">
                The event should have at least one member!
              </div>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="!eventForm.form.valid" (click)="newEvent(); OnSelect(eventModel)">Create Event</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
