<ng-container *ngIf="selectedEvent">
  <div>
    <h2>Event Specifics for {{ selectedEvent.name }}</h2>
    <ul>
      <li *ngFor="let e of eventSpecifics">
        <button type="submit" (click)="OnSelect(e)">
          <strong>City:</strong> {{ e.city?.name }}
          <br/>
          <strong>Date:</strong> {{ e.date }}
        </button>
        <br>
        <hr>
      </li>
    </ul>
  </div>
  <app-event-register [hidden]="revealRegistration" [eventSpecifics]="selectedEventSpec"></app-event-register>
</ng-container>

