<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Email</title>
<body>
<h1 style="color: blue; font-size: 46px;">Dear [[${msgBody}]],</h1>
<p style="color: blue; font-size: 46px;">Thank you for registering for our service.</p>
<p>Your registration has been confirmed.</p>
</body>
</html>